/* ============================= */
/* Design System-specific Styles */
/* ============================= */
.design-body {
  padding: 0 1em;
}
.design-container {
  margin-top: 5rem;
  margin-inline: auto;
  text-align: left;
  gap: 6.5rem;
}


.design-heading {
  margin-bottom: 3rem;
  font-size: var(--fs-700);
  font-weight: var(--fw-700);
  color: var(--clr-medium-brown);
}

.colors-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.875rem;
}

.color {
  min-width: 300px;
  max-width: 350px;
  flex: 1;
}

.color-block {
  min-height: 100px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: end;
}

.color:last-child > .color-block {
  border: 1px solid var(--clr-medium-brown);
}

.color-block > span {
  margin: 0 0 1rem 1.5rem;
}

.color-alt-formats {
  margin-top: .5rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.clr-format {
  margin-right: 4rem;
}

/* Design - Typography */
.typography-container {
  flex-direction: column;
  gap: 2rem;
}

.text-type {
  display: flex;
	flex-direction: column;
	gap: 2.5rem;
  flex: 1;
}

.text-style-details {
  margin-bottom: 0.5rem;
  display: flex;
  gap: 1.5rem;
}

.text-style-details span:first-of-type {
  color: var(--clr-light-red);
  font-weight: var(--fw-700);
}

/* Design - Interactive Elements */


.interactive-elements {
  gap: 4rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.button-column {
  flex-direction: column;
  gap: 3.875rem;
}

.button-state {
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.btn-1-hover-demo {
  background-color: var(--clr-galactic-blue) !important;
}

.btn-2-hover-demo {
  background-color: var(--clr-summer-yellow) !important;
}

.arrow-buttons {
  gap: 1rem;
}

.arrow-demo {
  background-color: var(--clr-galactic-blue) !important;
}

@media (min-width: 48em) {
  .logo {
    width: 64px;
    height: 64px;
  }
  .header h1 {
    font-size: var(--fs-700);
  }
  .typography-container {
    flex-direction: row;
  }
  .interactive-elements {
    gap: 8rem;
    justify-content: flex-start;
  }
}